<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div>
				<h1>Summer REU Participant DB</h1>
                <a href="{{ url_for('home') }}"><i class="fas fa-home"></i>Home</a>
                <a href="{{ url_for('search') }}"><i class="fa fa-search"></i>Search</a>
				<a href="{{ url_for('summerREU_db_new') }}"><i class="fas fa-user-circle"></i>summerREU-New-Students</a>
				<a href="{{ url_for('Authentication.logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
			</div>
		</nav>
		<div class="content">
			{% block content %}{% endblock %}
		</div>

		<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.js"></script>
		<script type = "text/javascript" charset="utf-8" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
		{% block scripts %}{% endblock %}
		
	</body>
</html>